{% extends "base-mobile.html" %}
{% block title %}
    QMOQUI | Welcome
{% endblock %}
{% block body %}
    <div class="qrlogo"><span class="icon-qrcode big-icon"></span></div>
    <h1 class="supertitle">I NEED TO PROMOTE IT,</h1>
    <p class="pTitle">but i don't have end off space... yes,</p>
    <p class="pTitle">QR Codes help.</p>
    <section data-role="collapsible-set">
        <section data-role="collapsible" data-collapsed="false">
            <h3>What is a QR Code?</h3>
            <p class="text">
                "Quick Response" code, more popular with QR is a type of two-dimensional<br>
                bar code which can be easily scanned using the camera of your smartphone<br>
                and decoded using one of many free QR code reader applications.
            </p>
        </section>
        <section data-role="collapsible">
            <h3>What advantages with a QR Code?</h3>
            <p class="text">
                Everyone with Smartphone can be scanned and decoded using one of<br>
                many free code reader apps.<br>
                Can store large amounts of data<br>
                Codes can be read at high speeds from any direction - 360°<br>
                Easy to produce
            </p>
        </section>
        <section data-role="collapsible">
            <h3>How are QR Codes Being Used?</h3>
            <ul class="char">
                <li><i class="icon-ok"></i>The most common is to connect to your website</li>
                <li><i class="icon-ok"></i>Dial a phone number</li>
                <li><i class="icon-ok"></i>Send an e-mail</li>
                <li><i class="icon-ok"></i>Store a vCard</li>
                <li><i class="icon-ok"></i>Map a street address</li>
                <li><i class="icon-ok"></i>Download a file</li>
            </ul>
        </section>
        <section data-role="collapsible">
            <h3>Where are QR Code Being Displayed?</h3>
            <p class="text">
                A QR Codes can be displayed on many forms of print media and<br>
                provide a way to connect your print media to the digital world wide<br>
                web.<br>
                Brochures<br>
                Newspapers<br>
                Magazines<br>
                Product Packaging<br>
                Business Card<br>
                Billboard, banners, signs etc.<br>
            </p>
        </section>
    </section>
{% endblock %}